# ======================================

# ENVIRONMENT

# ======================================

.env

# ======================================

# PYTHON

# ======================================

**pycache**/
*.pyc
*.pyo
*.pyd

# ======================================

# VIRTUAL ENVIRONMENT

# ======================================

venv/
.env/
.venv/

# ======================================

# STREAMLIT

# ======================================

.streamlit/

# ======================================

# LOGS

# ======================================

logs/
*.log

# ======================================

# JUPYTER

# ======================================

.ipynb_checkpoints/

# ======================================

# VS CODE

# ======================================

.vscode/

# ======================================

# MACOS

# ======================================

.DS_Store

# ======================================

# WINDOWS

# ======================================

Thumbs.db

# ======================================

# TEST CACHE

# ======================================

.pytest_cache/

# ======================================

# BUILD FILES

# ======================================

build/
dist/
*.egg-info/

# ======================================

# COVERAGE

# ======================================

.coverage
htmlcov/
